:root {
  --color-slate-900: hsl(218, 44%, 22%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-white: white;
  --font-sans-serif: "Outfit", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

img {
  max-width: 100%;
}

.heading {
  font-size: 22px;
  line-height: 1.2;
  font-weight: bold;
  color: var(--color-slate-900);
}

.body-text {
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: var(--color-slate-500);
}

.card-wrapper {
  height: 100dvh;
  background-color: var(--color-slate-300);
  display: grid;
  place-items: center;
  padding: 0 1.75rem;
  font-family: var(--font-sans-serif);
}

.card {
  width: min(20rem, 100%);
  background-color: var(--color-white);
  padding: 1rem 1rem 2.5rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.qr-img {
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
